body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8f8; /* Color de fondo verde agua */
  }
  
  header {
    text-align: center;
    color: #ffffff; /* Letras blancas */
    background-color: #2ecc71; /* Fondo verde agua para el título */
    padding: 20px;
  }
  
  main {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #2ecc71;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #27ae60;
  }

  
/* Estilos adicionales para la vista menu.php */
/* Estilos para la página de inicio de sesión */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8f8; /* Color de fondo verde agua */
  }
  
  header {
    text-align: center;
    color: #ffffff; /* Letras blancas */
    background-color: #2ecc71; /* Fondo verde agua para el título */
    padding: 20px;
  }

  .titulos {
    text-align: center;
    color: #ffffff; /* Letras blancas */
    background-color: #2ecc71; /* Fondo verde agua para el título */
    padding: 20px;
  }
  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
  }
  
  .opciones {
    border-radius: 10px;
    background-color: rgb(58,50, 54);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    padding: 25px;
  }
  
  .opcion {
    text-align: center;
    display: flex;
    flex-direction: column; /* Los elementos hijos se apilan verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
  }
  
  .icono {
    width: 64px;
    height: 64px;
    margin-bottom: 5px;
  }

  .icono2 {
    width: 55px;
    height: 55px;
    margin-bottom: 5px;
    padding: 5px;
  }
  

  /* Estilo para el enlace del título */
.titulo-enlace {
    text-decoration: none;
    color: #ffffff; /* Color del texto */
  }

.opciones.dos-columnas {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.contenido {
  display: flex;
  flex-direction: column; /* Los elementos se apilan verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
}

.btn-transparente {
  background-color: rgba(0, 0, 0, 0); /* Color de fondo transparente */
  color: #ffffff; /* Color del texto blanco */
  border-color: rgba(0, 0, 0, 0.5); /* Color del borde con opacidad */
}








.mensaje-exito {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  display: none; /* Ocultar el mensaje inicialmente */
}
